Package: me.kritanta.deadringer
Name: DeadRinger
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 0.1.1
Architecture: iphoneos-arm
Description: Minimalist ringer icon in top left corner
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
